AZURE_OPENAI_ENDPOINT=https://YOUR-RESOURCE.openai.azure.com/
AZURE_OPENAI_API_KEY=YOUR_KEY

AZURE_OPENAI_API_VERSION=2024-10-21
AZURE_CHAT_DEPLOYMENT=gpt-4.1
AZURE_EMBEDDING_DEPLOYMENT=text-embedding-3-large

AZURE_SEARCH_ENDPOINT=https://search-service-name.search.windows.net
AZURE_SEARCH_API_KEY=YOUR_SEARCH_KEY
AZURE_SEARCH_INDEX=rag-1789033469043

MAX_CONTEXT_TOKENS=4000
TOP_K=10
AZURE_RERANK_ENDPOINT=https://faundry project name-resource.services.ai.azure.com/providers/cohere/v2/rerank
AZURE_RERANK_API_KEY=key
AZURE_RERANK_DEPLOYMENT=Cohere-rerank-v4.0-fast