openai
azure-search-documents
azure-storage-blob
python-dotenv
dotenv
tiktoken
pep8
ninja
pytest
ruff
requests
cohere
streamlit==1.48.1

pytest==8.4.1
pytest-asyncio==1.1.0
fastapi[standard]==0.116.1
python-jose[cryptography]
pwdlib[argon2]
pydantic[email]
pydantic==2.13.4
pydantic-settings==2.15.0
uvicorn[standard]==0.35.0